[package]
name = "alkahest"
version = "0.1.3"
edition = "2018"
authors = ["Zakarum <zakarumych@ya.ru>"]
license = "MIT OR Apache-2.0"
documentation = "https://docs.rs/alkahest"
homepage = "https://github.com/zakarumych/alkahest"
repository = "https://github.com/zakarumych/alkahest"
readme = "README.md"
description = "Fantastic serialization library with zero-overhead serialization and zero-copy deserialization"

[features]
derive = ["alkahest-proc"]
nightly = []

[dependencies]
bytemuck = { version = "1.0", default-features = false, features = ["min_const_generics"] }
alkahest-proc = { version = "=0.1.3", path = "proc", optional = true }

[dev-dependencies]
criterion = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
bincode = "1.3"
rkyv = "0.7"

[[example]]
name = "test"
required-features = ["derive"]

[[bench]]
name = "benchmark"
harness = false
required-features = ["derive"]

[workspace]
members = ["proc"]
